<h2>Join Meetronome!</h2>
<div id='main_box'>
<% form_for :user do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %>
<%= error_message_on "user", "login" %>
</p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %>
<%= error_message_on "user", "email" %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %>
<%= error_message_on "user", "password" %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
</div>