<h2>Join Meetronome!</h2>
<div id='main_box'>
<% form_for :user do |f| -%>
<div class="inputcontainer">
  <fieldset>
  <legend><label for="user_login">Login</label></legend>
    <%= f.text_field :login %>
    <%= error_message_on "user", "login" %>
  </fieldset>
</div>

<div class="inputcontainer">
  <fieldset>
  <legend><label for="user_email">Email</label></legend>
   <%= f.text_field :email %>
   <%= error_message_on "user", "email" %>
  </fieldset>
</div>

<div class="inputcontainer">
  <fieldset>
  <legend><label for="user_password">Password</label></legend>
   <%= f.password_field :password %>
   <%= error_message_on "user", "password" %>
  </fieldset>
</div>


<div class="inputcontainer">
  <fieldset>
  <legend><label for="user_password_confirmation">Confirm Password</label></legend>
   <%= f.password_field :password_confirmation %>
  </fieldset>
</div>

<div class="clear"><%= meet_link_to_function 'Sign up', 'this.up("form").submit(0);' %></div>
<% end -%>
</div>
