<h2>Create a Meeting!</h2>
<%= error_messages_for 'meeting' %>
<div id="main_box">
  <h3>Describe your meeting</h3>
  <% form_for @meeting, :html => {:id => "costcalc", :autocomplete => "off"} do -%>
  <div id="left_form">
    <div class="inputcontainer">
      <fieldset>
      <legend>Give your meeting a name</legend>
        <%= text_field :meeting, :name, :value => "my meeting", :size => "20" %>
      </fieldset>
    </div>
    <div class="inputcontainer">
      <fieldset>
        <legend>How many people will be there?</legend>
        <div id='track1' class='slider'>
          <div><%= image_tag("slider-handle.png")%></div>
        </div>
        <%= text_field :meeting, :attendance, :value => "1", :size => "20", :onkeyup => '$("costperhour").value = MC.calc()' %>
      </fieldset>
    </div>
  </div>
  <div id="right_form">
    <div class="inputcontainer">
      <fieldset>
        <legend>How much does each person earn?</legend>
        <input type="radio" name="wage_type" id="wage_type_annual" class="radio" value="annual" checked onChange='$("salary").value = MC.check_wage_type(track2.value)'/><label for="wage_type_annual">per year</label>
        <input type="radio" name="wage_type" id="wage_type_hourly" class="radio" value="hourly" onChange='$("salary").value = MC.check_wage_type(track2.value)'/><label for="wage_type_hourly">per hour</label>

        <div id='track2' class='slider'>
          <div><%= image_tag("slider-handle.png")%></div>
        </div>
        <input type="text" id="salary" value="50000.00" size="20" onkeyup='$("costperhour").value = MC.calc()'/><br />
      </fieldset>
    </div>

    <input type="hidden" id="costperhour" value="25.00">
    <%= hidden_field :meeting, :cents_per_hour %>
    <input type="hidden" id="track1value">
    <input type="hidden" id="track2value">
    <%= slider_element 'track1', :minimum => 1, :maximum => 20,  :increment => 3, :values => "[#{(1..20).to_a.join(', ')}]", :slide => '$("track1value").value = value; $("meeting_attendance").value = value; $("costperhour").value = MC.calc()', :range => 1..20, :sliderValue => 1 %>
    <%= javascript_tag("observeSliderTextField($('meeting_attendance'),track1)") %>
    <%= slider_element 'track2', :minimum => 10000, :maximum => 500000,  :increment => 3, :values => (2..100).inject([]){|a,i|a << i*5000}.inspect, :slide => '$("track2value").value = value; $("salary").value = MC.check_wage_type(value); $("costperhour").value = MC.calc()', :range => 10000..500000, :sliderValue => 50000 %>
    <%= javascript_tag("observeSliderTextField($('salary'),track2, true)") %>
  </div>
  <div id="form_buttons" class="clear">
    <%= meet_link_to_function "Start Meeting", "$('meeting_cents_per_hour').value = $('costperhour').value * 100;$('costcalc').submit(0)"  -%>
  </div>
  <% end -%>
</div>
