<% content_for :title do%>Meetronome<% end %>
<h2><%= @meeting.name %></h2>
<div id="main_box">
  <div id="meeting_details">
    <h3>Current Cost</h3>
    <div id="current_cost"> 
      <div class="numeral" id="place6"></div>
      <div class="decimal">,</div>
      <div class="numeral" id="place5"></div>
      <div class="numeral" id="place4"></div>
      <div class="numeral" id="place3"></div>
      <div class="decimal">.</div>
      <div class="numeral" id="place2"></div>
      <div class="numeral" id="place1"></div>
    </div>

    <div style="visibility: hidden"><span id='startcost'><%= @meeting.cost%></span></div>
    <div class="clear_all">&nbsp;</div>

    <h3>Activities</h3>
    <div id="notes"><%= render :partial => 'notes' %></div>

    <% if @meeting.running? %>
    <% form_tag(meeting_notes_url(@meeting), :id => "note_form", :method => :post) do %>
    <p>what's going on now?
      <%= text_field "note", "descr", :size => 20  %>
      <div class="clear">
        <%= link_to_function content_tag(:span, "Add Note"), "$('note_form').submit(0)", :onclick=>"this.blur;", :class=>"button" -%>
      </div>
    </p>
    <% end %>

    <% end %>

    <% if @meeting.running? %>

    <div class="clear">
      <%= meet_link_to "Stop Meeting", stop_meeting_url(@meeting), :method => :post if session[:owner] -%>
    </div>
    <script type="text/javascript">
    //not sure if this should go here or not
    curamount=parseInt($("startcost").firstChild.nodeValue);
    cents_per_hour = <%= @meeting.cents_per_hour %>;
    now = new Date();
    MC.init(String(cents_per_hour), now.getTime(), 
        String(<%= @meeting.cost %>));
    </script>
    <%= periodically_call_remote :url => update_notes_meeting_url(@meeting), :method => :get %> 
    <% else %>
    <script type="text/javascript"> 
    MC.set(<%= @meeting.cost %>);
    </script>
    <% end %>
  </div>

  <div id="alternative">What fun, it's a meeting!</div>
  <div class="clear_all">&nbsp;</div>
  <%= periodically_call_remote :url => { :controller => :alt_widget, :action => :view, :meeting_id => @meeting.id, :frequency => 15 } %>
</div>
