<% content_for :title do%>Meetronome<% end %>
<h2><%= h @meeting.name %></h2>
<div id="main_box">
  <div id="meeting_details">
    <h3>Current Cost</h3>
    <div id="currency_sign">$</div>
    <div id="current_cost"> 
      <div class="numeral" id="place3"></div>
      <div class="decimal">.</div>
      <div class="numeral" id="place2"></div>
      <div class="numeral" id="place1"></div>
    </div>

    <div style="visibility: hidden"><span id='startcost'><%= @meeting.cost%></span></div>
    <div class="clear_all">&nbsp;</div>

    <h3>Notes</h3>
    <div id="notes"><%= render :partial => 'notes' %></div>

    <% if @meeting.running? %>
    <div id="note_form_wrapper" class="clear">
    <% form_tag(meeting_notes_url(@meeting), :id => "note_form", :method => :post) do %>
      <div>Track what's happening now!</div>
      <div><%= text_field "note", "descr", :size => 20  %>
        <%= meet_link_to_function "Track", "$('note_form').submit(0)" -%>
      </div>
    
    <% end %>
    </div>
    <% end %>

    <% if @meeting.running? %>

    <div class="clear">
      <%= meet_link_to "Stop Meeting", stop_meeting_url(@meeting), :method => :post if session[:owner] -%>
    </div>
    <script type="text/javascript">
    //not sure if this should go here or not
    curamount=parseInt($("startcost").firstChild.nodeValue);
    cents_per_hour = <%= @meeting.cents_per_hour %>;
    now = new Date();
    MC.init(String(cents_per_hour));
    MC.start(now.getTime(), 
        String(<%= @meeting.cost %>));
    </script>
    <%= periodically_call_remote :url => meeting_notes_url(@meeting), :method => :get %> 
    <% else %>
    <script type="text/javascript"> 
    MC.init(1);
    MC.set(<%= @meeting.cost %>, 0);
    </script>
    <% end %>
  </div>

  <div id="alternative">What fun, it's a meeting!</div>
  <div class="clear_all">&nbsp;</div>
  <%= periodically_call_remote :url => meeting_alt_widget_url(@meeting), :method => :get, :frequency => 15  %>
</div>
